<div class="jumbotron mt-4">
  <h1 class="display-4">LiveStreetで路上ライブを楽しもう。</h1>
  <p class="lead">LiveStreetは路上ライブ検索アプリです。ライブを告知したいアーティストはユーザー登録をお願いします。</p>
  <hr class="my-4">
  
<div class="form-group">
  <label class="col-form-label" for="inputDefault">ライブ検索</label>
  <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
</div>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">検索</a>
  </p>
</div>