<div class="container mt-4">
<h1 class="text-center">路上ライブHotPoints</h1>

<div id="map-container" class="z-depth-1-half map-container mt-4" style="height: 500px">
  <iframe id="map_all" frameborder="0"style="border:0" allowfullscreen></iframe>
</div>
</div>
<script>

$(function(){
  var map, newMarker, markerLocation;

    map = L.map('map-container').setView([36.575,135.984], 5);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
        maxZoom: 18
    }).addTo(map);
   
  <% @map_all.each do |maps| %>
    var mapslat = <%= maps.lat %>;
    var mapslon = <%= maps.lon %>;
    var maptitle = '<%= maps.title %>';
    L.marker([mapslat,mapslon])
    .bindPopup(maptitle)
    .addTo(map);
  <% end %>
    
  let options = {
            geocoder: new L.Control.Geocoder.Nominatim()
        };
        L.Control.geocoder(options).addTo(map);

});

</script>